:root {
  --home_menu_color: #da3c41;
  --menu_color: #1b2538;
}
#name_list   { float : left }
#chart_pane   { float : left }
.chart_frame{
    position:relative;
    width:100%;
    height:0;
    padding-top:100%;
}
.chart_frame iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


* {
  margin: 0px;
  padding: 0px;
}
.body{
}
select {
	border :1px solid #fff;
	font-size :14px;
}
.site-page{
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
   width: 100%;
}
.site-header{
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
   width: 100%;
   position: fixed; /*スクロールしても位置を固定*/
   z-index: 2147483646;
}
.site-main{
   position: fixed;
   top: 48px;
   color: #000;
   background: #fff;
}

.menu {
    list-style: none;
    position: relative;
    width: 100%;
    height: 50px;
    max-width: 2500px;
    margin: 0 auto;
    background: var(--menu_color);
}
.menu > li {
    float: left;
    height: 50px;
    line-height: 50px;
	padding: 0 20px;
}
.menu.li a {
    display: block;
    color: #fff;
}
.menu > li a:hover {
    color: #999;
}
.menu > li:hover {
    color: #000;
    background: #eee;
    -webkit-transition: all .5s;
    transition: all .5s;
}
/* floatクリア */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}
.menu:after {
    clear: both;
}
.menu {
    *zoom: 1;
}

.menu > li.menu__home {
    position: relative;
}
li.menu__home {
    position: absolute;
    background: var(--home_menu_color);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
li.menu__home:hover {
    visibility: visible;
    opacity: 1;
}
.menu > li.menu__single {
    position: relative;
}
.menu__sec {
    display: inline-block;
}

.menu-link {
    box-shadow: none;
    width: 160px;
}

ul#menu-watchlist-id.menu__second-level{ /* watchlistメニューのスクロールバー */
    overflow-y: auto;
    height: 800%; /* メニュー項目8個分 */
    width: 220px;
}
ul#menu-ai-id.menu__second-level{ /* aiメニューのスクロールバー */
    overflow-y: auto;
    height: 800%; /* メニュー項目8個分 */
    width: 220px;
}
ul#menu-change_color-id.menu__second-level{ /* change_colorメニューのスクロールバー */
    overflow-y: auto;
    height: 800%; /* メニュー項目8個分 */
    width: 220px;
}
.menu__second-level {
    display: inline-block;
}
.menu__second-level > li a {
    text-decoration: none; /* リンクに下線を付けない */
    display: block;
    color: #fff;
}
.menu__second-level > li a:hover {
    text-decoration: none;
    color: #999;
}

ul.menu__second-level {
    //top: 24px; /* システムメニュープルダウン位置Y */
    list-style: none;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.menu__second-level li {
    border-top: 1px solid #111;
    margine: 0;
}
.menu__second-level li a {
    text-decoration: none; /* リンクに下線を付けない */
    background: var(--menu_color);
    padding: 0px 20px;
}
li.menu__single ul.menu__second-level {
    position: absolute;
    left: -40px; /* システムメニュープルダウン位置X */
    right: auto;
    background: var(--menu_color);
}
li.menu__single:hover ul.menu__second-level {
    top: 48px; /* システムメニュープルダウン位置Y */
    visibility: visible;
    opacity: 1;
    width: auto;
    height: 0;
}


@media screen and (max-width: 760px) {
  .menu > li {
    padding: 0px 2px;
  }
  #name_list {
    float : top;
    width: 100%;
    height: 32px;
    padding: 8px;
  }
  #chart_pane {
    float : bottom;
  }
  #select_code {
    size: 1;
    font-size: 1.5rem;
    width: 95%
  }
}
